{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block page_title %}About Me{% endblock page_title %}

{% block content %}
<div class="bio-container">
    <!-- Bio text on the left as per requirements -->
    <div class="bio-text">
        <h3>{{ position }}</h3>
        <p>
            Hi, I am Kyle. Welcome to my personal website! I fell in love with machine learning in college when chatGPT 3 was released. I was a long time 
        </p>
        <p>
            My expertise includes training deep learning models, and prompt engineering LLMs
        </p>
        <p>
            When I'm not coding, you can find me exploring new technologies, working out, or playing video games (My favorite is Starcraft 2).
        </p>
        <!-- Replace the above text with your actual bio -->
    </div>
    
    <!-- Profile picture on the right as per requirements -->
    <div class="bio-image">
        <img src="{{ url_for('static', filename='images/profile_picture.jpg') }}" 
             alt="Kyle Woolford's profile picture" 
             class="profile-picture">
    </div>
</div>
{% endblock content %}