<nav id="main-nav">
    <ul>
        <li class="nav-item {% if request.path == url_for('pages.home') %}is-active{% endif %}">
            <a href="{{ url_for('pages.home') }}">Home</a>
        </li>
        <li class="nav-item {% if request.path == url_for('pages.projects') %}is-active{% endif %}">
            <a href="{{ url_for('pages.projects') }}">Projects</a>
        </li>
        <li class="nav-item {% if request.path == url_for('pages.contact') %}is-active{% endif %}">
            <a href="{{ url_for('pages.contact') }}">Contact</a>
        </li>
        <li class="nav-item {% if request.path == url_for('pages.chat') %}is-active{% endif %}">
            <a href="{{ url_for('pages.chat') }}">Chat</a>
        </li>
    </ul>
</nav>