<!DOCTYPE html>
<html lang="en">
<head>
    <title>Message Board - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div id="container">
    <div id="content-wrapper">
<body>
<h1>Kyle Woolford</h1>
{% include("_navigation.html") %}
<section>
    <header>
        {% block header %}{% endblock header %}
    </header>
    <main>
        {% block content %}<p>No messages.</p>{% endblock content %}
    </main>
</section>
    </div>
    <footer id="footer">
        <p id="email">Email Me: kwoolfo4@jh.edu</p>
        <p id="randText">center</p>
        <a href="https://www.linkedin.com/in/kyle-woolford-951036232/" id="linkedin">LinkedIn</a>
    </footer>
</div>
</body>
</html>